body{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f5f6fa;
  color: #f5f6fa;
}

.box{
  width: 320px;
  padding: 40px;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 8px 8px 10px rgb(207, 205, 205);
  background: linear-gradient(to top right, 
    rgba(162, 155, 254,0.8), 
    rgba(116, 185, 255,0.8)
    );
}

.box input[type = "text"], 
.box input[type = "password"],
.box input[type = "submit"]{
  border: 0;
  background: none;
  margin: 20px auto;
  text-align: center;
  display: block;
  padding: 10px 8px;
  outline: none;
  transition: 0.25s;
}

.box input[type = "text"], 
.box input[type = "password"]{
  border: 2px solid #f5f6fa;
  color: rgb(6, 145, 252);
}

.box input[type = "text"]:focus, 
.box input[type = "password"]:focus{
  width: 200px;
  border-color: rgb(6, 145, 252);
}

.box input[type = "submit"]{
  background-color: rgba(0, 184, 148,1.0);
  outline: none;
  color: #f5f6fa;
  cursor: pointer;
  font-weight: bold;
}

.box input[type = "submit"]:hover{
  color: rgba(0, 184, 148,1.0);
  background-color: #f5f6fa;
}