*{
  margin: 0;
  padding: 0;
}

html{ font-size: 10px; }

body{
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.2rem;
  color: rgba(44, 62, 80,1.0);
  background-color: rgba(236, 240, 241,1.0);;
}

.box{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 100vh;
  background-color: rgba(236, 240, 241,1.0);
}

.card{
  text-align: center;
  display: flex;
  align-items: center;
  padding: 1.2rem;
  width: 25rem;
  height: 35rem;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255,1.0);
  box-shadow: 0px 0px 20px rgba(189, 195, 199,1.0);
}

.card:nth-child(2){
  height: 40rem;
}

.card:nth-child(2) h2{
  font-size: 2rem;
}

.card h2{
  font-size: 1.5rem;
  text-transform: uppercase;
}

.card:nth-child(2) h2{
  color: rgba(46, 204, 113,1.0);
}

.card p{
  margin-top: 1.2rem;
}

.card h3{
  font-size: 3rem;
  margin-top: 1.8rem;
}

.card ul{
  margin-top: 1.6rem;
}

.card li{
  list-style: none;
}

.card li::before{
  content: "\f00c";
  font-family: "FontAwesome";
  color: rgba(46, 204, 113,1.0);
  margin-right: 0.8rem;
}
.card a{
  text-decoration: none;
  padding: 1.5rem;
  border: 3px solid rgba(46, 204, 113,1.0);
  color: rgba(39, 174, 96,1.0);
  text-transform: uppercase;
  cursor: pointer;
  margin-top: 1.4rem;
  display: inline-block;
}

.card:nth-child(2) a{
  background-color: rgba(39, 174, 96,1.0);
  color: rgba(236, 240, 241,1.0);
  transition: 0.4s; 
}

.card:nth-child(2) a:hover{
  background-color: rgba(236, 240, 241,1.0);
  color: rgba(39, 174, 96,1.0);
}

.card a:hover{
  background-color: rgba(39, 174, 96,1.0);
  color: rgba(236, 240, 241,1.0);
  transition: 0.4s; 
}
