*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}

html{ box-sizing: border-box; }

body{
  box-sizing: inherit;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
}

.header{
  display: flex;
  background: rgba(44, 62, 80,1.0);
  padding: 20px;
  justify-content: space-between;
  color: rgba(52, 152, 219,1.0);
  align-items: center;
}

.header__logo{
  margin: 0;
  line-height: 40px;
  font-size: 25px;
}

.header ul{
  margin: 0;
}

.header li{
  list-style-type: none;
  margin-left: 10px;
  display: inline-block;
}

.header a{
  text-decoration: none;
  color: rgba(52, 152, 219,1.0);
  transition: .4s;
}

.header a:hover{
  color: rgba(236, 240, 241,1.0);
}

.header__menu-button{
  display: none;
  cursor: pointer;
}

.banner{
  margin-top: 15px;
  text-align: center;
  color: rgba(52, 152, 219,1.0);
}

@media screen and (max-width: 800px){
  .header__menu-nav{
    
  }
}