body{
  margin: 0;
  padding: 0;
  background: rgba(140, 122, 230,1.0);
}

a { text-decoration: none; }

.search-box:hover > .search-box__txt{
  width: 240px;
  padding: 0 6px;
}

.search-box:hover > .search-box__btn{
  background: rgba(41, 128, 185,1.0);
}

.search-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(47, 54, 64,1.0);
  height: 40px;
  padding: 10px;
}

.search-box__btn{
  color: rgba(236, 240, 241,1.0);
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.search-box__txt{
  border: none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: rgba(236, 240, 241,1.0);
  font-size: 16px;
  transition: .4s;
  line-height: 40px;
  width: 0px;  
}