*,
*::before,
*::after{
  margin: 0;
  padding: 0;
}

:root{
  --margin: 0.6rem;
}

html{ font-size: 16px; }

body{
  box-sizing: inherit;
  font-family: 'Lato', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(155, 89, 182,1.0);
}

.container{
  width: 20rem;
  height: 28rem;
  margin-top: 2rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255,1.0);
  box-shadow: 0 0 20px rgba(39, 174, 96,1.0);
  border-radius: 2px;
}

.card-banner{
  background: url(img/meireles-neto-336081-unsplash.jpg);
  background-position: center;
  background-size: cover; 
  color: rgba(236, 240, 241,1.0);
  height: 42%;
  padding: 0.6rem;
}

.card-banner h2{
  font-size: 1.3rem;
  border-bottom: 3px solid rgba(142, 68, 173,1.0);
  display: inline-block;
  background-color: rgba(39, 174, 96,1.0);
  padding: 0.2rem;
}

.about{
  padding: 0.6rem;
  color: rgba(44, 62, 80,1.0);
}

.about h4{ 
  margin-bottom: var(--margin); 
}

.about p{ margin-bottom: var(--margin); }

.about i {
  font-size: 1.6rem;
  color: rgba(39, 174, 96,1.0);
  margin-right: 1rem;
  cursor: pointer;
  transition: 0.4s;
}

.about i:hover{
  transform: translateY(5px);
}